/*#region General Page / Page Header */

#mainContainer {
    margin: 2px 10px;
    font-size: 8pt;
}

#pageHeader {
    height: 65px;
}

#divPageTitle {
    margin-left: 15px;
    font: bold 20px arial;
}

#divHeaderLeft {
    width: 400px;
    float: left;
}

#divHeaderRight {
    float: right;
    text-align: right;
}

    #divHeaderRight div {
        margin: 0 10px;
        text-align: left;
    }

#divTableContainer {
    border: 1px solid black;
}

div.blockContent {
    display: inline-block;
    vertical-align: middle;
}

.headerLabel {
    font-weight: bold;
}

#searchResults {
    margin: 0px;
}

#ajaxLoader {
    position: absolute;
    left: 130px;
    top: 45px;
}

.tipSpan {
    cursor: default;
}
/*#endregion */

/*#region Page Footer */

#divPageCount {
    float: left;
}

#divPagination {
    float: right;
    clear: right;
}

#pageFooter {
    margin-top: 5px;
}

/*#endregion Page footer */

/*#region Header and Footer Section of the Main Table */

.phoneDataHeader {
    background-color: #4C8FFF;
}

    .phoneDataHeader a {
        color: white;
    }

.buttonColumn {
    padding: 0px;
    margin: 0px;
    width: 10px;
    vertical-align: middle;
    text-align: center;
}

.columnHeader {
    vertical-align: middle !important; /* Important used to override bootstrap*/
}

.smallColumnHeader {
    width: 4%;
}

.mediumColumnHeader {
    width: 12%;
}

.largeColumnHeader {
    width: 17%;
}

.smallColumnHeaderMobile {
    width: 4%;
}

.mediumColumnHeaderMobile {
    width: 10%;
}

.largeColumnHeaderMobile {
    width: 15%;
}

.phoneDataOdd {
    background-color: #BBD4FF;
}

.phoneDataEven {
    background-color: #E3EDFF;
}

#mainTable tfoot {
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}
/*#endregion Header Section of the Main Table */

/*#region Detail Section of the Main Table */

#detailTable {
    width: 100%;
    font-size: 7pt;
}

.detailTableHolderCell {
    padding: 0px 0px 5px 20px !important;
}

.detailLinkIcon {
    position: absolute;
    left: 17px;
}

.detailLabel {
    color: #428bca;
    font-weight: bold;
    min-width: 120px;
    width: 7%;
}

.detailValueLarge {
    min-width: 175px;
    width: 27%;
}

.detailValueSmall {
    min-width: 40px;
    width: 10%;
}

.detailRow {
    background-color: #FFFED3;
}

/*#endregion Detail Section of the Main Table */

/*#region Tips Template */
.modal-title img {
    margin-right: 30px;
}

.tipsTick {
    vertical-align: top;
    color: #F26531;
    padding: 3px 7px 0px 8px;
}

.tipsTip {
    vertical-align: top;
    padding: 3px 5px 2px 0px;
}

    .tipsTip .glyphicon {
        color: #428bca;
    }

.tipsImage {
    margin: auto;
    padding: 0px 5px 0px 0px;
}

.tipsFooter {
    width: 400px;
    float: left;
    text-align: center;
}

.tipsFooterButton {
    float: right;
}

.modal-footer {
    margin-top: 0px;
}
/* #endregion Tips Template */

/*#region Bootstrap CSS Over-Write. */

.form-control {
    height: 22px;
    padding: 1px 1px;
}

pre {
    border: none;
    padding: 0px;
    margin: 6px 0px 0px 0px;
    font-weight: bold;
    font-size: 12px;
}

.pagination {
    margin: 0px;
}

.table {
    margin-bottom: 0px;
}

/* #endregion Bootstrap CSS Over-Write. */

/*#region Mobile Styles */
.phoneGroup {
    margin-top: 3px !important;
}

.phoneHeading {
    padding: 1px 10px;
}


/* Set the title of the mobile pages to have more space.*/
.ui-title {
    margin: 0 10% !important;
}


.jump-button {
    /*padding: 2px 5px !important;*/
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mobilePhoneDetail {
    text-align: right;
    float: right;
}

    .mobilePhoneDetail .ui-btn-inline {
        margin: 0 0 0 10px !important;
    }

.showDetails a span {
    font-weight: 200;
    font-style: italic;
    font-size: 12px;
    margin-left: 5px;
}

.showDetails .ui-mini {
    margin: 0px;
}

.detailLabel div {
    font-size: 12px;
}

    .detailLabel div:first-of-type {
        margin: 5px 20px 0px 0px;
    }

.mainLabel {
    margin-left: -8px;
}

    .mainLabel div {
        float: left;
        margin: 4px 10px 0px 0px;
        font-size: 14px;
    }

/* #endregion Mobile Styles. */
