<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--    Note:  All "Developer_" keys (and IsDeveloper) should be removed for production. -->
    <add key="IsDeveloper" value="YES"/>
    <add key="Developer_User" value="HAJOCA\michael.dye"/>
    <add key="Developer_RedirectAllEmail" value="michael.dye@hajoca.com"/>
    
    <!-- *** OurDlls Configuration *** 
          The OurDLLs directory contains important information including logins and passwords for database
          connectivity.  If a CompanyOurDllsPath key is not set the default is to load it from
          Bermunda.  You can either set the full path name:
          <add key="CompanyOurDllsPath" value="\\ServerName\ourdlls"/>
          or use the "[MachineName]" variable and the applicaiton will automatically use the current
          server for the location. 
          <add key="CompanyOurDllsPath" value="\\[MachineName]\ourdlls"/>
    -->
    <add key="CompanyOurDllsPath" value="\\[MachineName]\ourdlls"/>

    <!-- 
        *** AD Group Name Configuration *** 
          There are 5 groups in the Interactive Directory: Service Center, Region Support, Region Manager,
          PC Mamanger and Profit Centers.  The profit center group is a hard coded pull from the AS400, 
          but the other 4 groups are pulled from AD based on the following config settins: 
          ADGroupNames_ServiceCenter, ADGroupNames_RegionSupport, ADGroupNames_RegionManager, 
          ADGroupNames_PCManager.  Each group should appear within the Hajoca 
          "Groups" OU in AD and then be contained in a sub-group (OU) like this:
          CN=Service Center Employees,OU=Distribution Groups,OU=Groups,DC=Hajoca,DC=com,Hajoca
          It is also possible for more than one AD group to be used to build ID list.  For example the Service
          Center group could be composed of employees in both:
          CN=Service Center Employees,OU=Distribution Groups,OU=Groups,DC=Hajoca,DC=com,Hajoca
          ..and..
          CN=System Support Group,OU=Security Groups,OU=Groups,DC=Hajoca,DC=com,Hajoca
          
          The format for the key value is a | sperated list of groups with each group having the OU sub group
          and group name (CN) separated by a / ([]'s are not actually included):
          [OU Subgroup]/[CN Group Name]|[OU Subgroup 2]/[CN Group Name 2]|...|[OU Subgroup X]/[CN Group Name X]
          For the 2 examples given above the value would be:
          <add key="ADGroupNames_ServiceCenter" value="Distribution Groups/Service Center Employees|Security Groups/System Support Group"/>
          
        *** InteractiveDirectoryXMLFile ***
          The InteractiveDirectoryXMLFile setting should contain the location to store the XML.  For the 
          InteractiveDirectoryBuilder it tells where it should be written, for the web site it tells it 
          where to be written AND read.
          <add key="InteractiveDirectoryXMLFile" value="c:\wherever\interactivedirectory.xml"/>

        *** RegionLookupXMLFile ***
          The RegionLookupXMLFile setting should contain the location to load the lookup for the region
          names.  There is a TestMethod in InteractiveDirectory.Test to build it, but it can be edited
          manually as long as the format is kept in tact.
          <add key="RegionLookupXMLFile" value="c:\wherever\RegionNames.xml"/>

        *** EclipseBoxLookup ***
          Lookup table for Eclipse Box.  Format:
          [PCSUP3 1]/[Value 1]|[PCSUP3 2]/[Value 2]|...|[PCSUP3 X]/[Value X]
          Sample Table:
            902	CEN
            908	WTN
            912	ETN
            915	PEA
            920	SE
            925	USA
            949	Min
          Resulting Key/Value:
            <add key="EclipseBoxLookup" value="902:CEN|908:WTN|912:ETN|915:PEA|920:SE|925:USA|949:Min"/>

        *** IMPORTANT!!!! ***
          There is a config file associated with both the InteractiveDirectoryBuilder and the website.  This is to 
          allow the scheduled task to build the XML but also have it available to the website for immediate updating.
          Be sure that any changes to make to the AD Groups or XML File location is done in both places! 
    -->
    <add key="ADGroupNames_ServiceCenter" value="ServiceNow/National Support Center Employees|ServiceNow/System Support Group|ServiceNow/Baton Rouge Service Center Employees"/>
    <add key="ADGroupNames_RegionSupport" value="ServiceNow/Region Support Employees"/>
    <add key="ADGroupNames_RegionManager" value="ServiceNow/Region Manager"/>
    <add key="ADGroupNames_PCManager" value="ServiceNow/Profit Center Manager|ServiceNow/LCR-M Managers"/>
    <add key="ADGroupNames_AllowMobile" value="National Support Center Employees|Baton Rouge Service Center Employees|System Support Group|Profit Center Manager|Region Manager|Credit Managers - East|Credit Managers - West|Region Support Employees|AllowMobileView"/>
    <add key="InteractiveDirectoryXMLFile" value="D:\source\repos\PhoneListFromGH\PhoneList\InteractiveDirectory\interactivedirectory.xml"/>
    <add key="RegionLookupXMLFile" value="D:\source\repos\PhoneListFromGH\PhoneList\InteractiveDirectory\RegionNames.xml"/>
    <add key="EclipseBoxLookup" value="902:Central|908:Western|912:Eastern|915:PEA|920:Southeastern|925:USA|949:Min"/>
  </appSettings>

</configuration>